.nav {
  background-color: black;
  color: white;
  min-height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.iconClose {
  color: white;
  display: none;
}
.icon {
  color: white;
  display: none;
}
.nav {
  display: flex;
}
.buttonsContainer {
  margin: 50px 80px 25px 0px;
}
.spanText {
  margin-left: 1rem;
  font-size: 17px;
  font-weight: 500;
  color: rgb(226, 226, 226);
  transition: 0.1s;
  cursor: pointer;
}
.spanText:hover {
  color: #ff8800;
}
.scrollContainer {
  display: flex;
  color: white;
  font-weight: 600;
  align-items: center;
  width: 160px;
  height: 50px;
  transition: 300ms;
  position: absolute;
  bottom: -50px;
  margin: 0 auto;
  cursor: pointer;
}
.scrollIcon {
  width: 35px;
  height: 35px;
  color: #7562e0;
}
.scrollContainer:hover {
  padding-bottom: 5px;
}
.effect {
  text-decoration: none;
  color: white;
  align-items: center;
  display: flex;
}
@media only screen and (max-width: 845px) {
  .nav {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .navShow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999999;
    height: 100vh;
    background-color: black;
  }
  .topNav {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-left: 3rem;
  }
  .iconClose {
    display: inline-block;
    margin-top: 30px;
    margin-right: 40px;
    width: 25px;
    height: 25px;
  }
  .icon {
    margin-top: 30px;
    margin-right: 40px;
    display: inline-block;
  }
  .showMenu {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: column;
    margin: 0;
    margin-top: 2rem;
    left: -100%;
    transition: 300ms all ease;
    left: 0;
  }
  .buttonsContainer {
    display: flex;
    position: absolute;
    width: 100%;
    flex-direction: column;
    margin: 0;
    margin-top: 2rem;
    left: -100%;
    transition: 300ms all ease;
  }
  .navButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 40px 0;
  }
  .navButton:hover {
    background-color: white;
    height: 80px;
    color: rgb(133, 38, 0);
  }
  .spanText {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 360px) {
}
