.sectionInfo {
  background: linear-gradient(90deg, #fc7e00, #753b00);
  color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 110vh;
}
.subTitle {
  color: black;
  width: 60vw;
  height: 10vh;
  font-size: 60px;
  font-weight: 700;
  margin-top: 5rem;
  text-align: center;
  display: inline-block;
}
.aboutCard {
  width: 40%;
  height: 40rem;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  margin-bottom: 2rem;
}
.infoContainer {
  display: flex;
  height: auto;
}
.retrato {
  overflow: hidden;
  width: 300px;
  height: 450px;
  background-color: rgba(0, 0, 0, 0.671);
  border-radius: 10px;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.recorte {
  overflow: hidden;
  width: 270px;
  height: 420px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.random {
  width: 270px;
  height: 450px;
  justify-content: center;
}
.parrafo {
  width: 60vw;
  height: auto;
  font-size: 1.6rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  background-color: rgba(0, 0, 0, 0.671);
  border: 1px solid black;
  padding: 3rem;
  border-radius: 15px;
  margin: 0%;
}
.cvButton {
  width: 11rem;
  height: 4rem;
  background-color: white;
  border: none;
  border-radius: 0.3rem;
  color: black;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 300ms;
}
.cvButton:hover {
  color: rgb(255, 145, 0);
  background-color: black;
}
.downloadIcon {
  margin-left: 0.5rem;
}
@media only screen and (max-width: 1000px) {
  .parrafo {
    width: 50vw;
  }
  .retrato {
    margin-top: 5rem;
  }
}
@media only screen and (max-width: 845px) {
  .sectionInfo {
    height: auto;
    min-height: 150vh;
  }
  .infoContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: auto;
  }
  .subTitle {
    margin-bottom: 8rem;
    width: 60vw;
  }
  .retrato {
    width: 260px;
    height: 300px;
    margin-bottom: 1rem;
  }
  .recorte {
    width: 240px;
    height: 270px;
  }
  .random {
    width: 240px;
    height: 350px;
  }
  .parrafo {
    font-size: 1.2rem;
    height: auto;
    min-width: 18rem;
  }
  .cvButton {
    height: auto;
    min-height: 3rem;
  }
  .cvButton:hover {
    height: 4rem;
  }
}

@media only screen and (max-width: 400px) {
  .infoContainer {
    min-width: 230px;
    width: 100%;
  }
  .subTitle {
    font-size: 40px;
    margin-bottom: 5rem;
  }
  .parrafo {
    min-width: 17rem;
    font-size: 1.1rem;
    padding: 2rem;
  }
}
