.main {
  /* background-color: #22333b; */
  /* background-image: url(./pngtree-abstract-modern-neon-frame-background-image_339537.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%; */
  background: linear-gradient(50deg, #0e1518, #02005e);
  display: flex;
  justify-content: center;
  width: 100%;
  height: 110vh;
  overflow: hidden;
  align-items: center;
}
.redes {
  margin-top: 1rem;
}
.link {
  background-color: white;
  border: 15px solid white;
  border-radius: 50%;
  justify-content: center;
  align-content: center;
  text-decoration: none;
  color: black;
  margin-right: 1.5rem;
  margin-bottom: 30px;
  transition: 200ms;
}
.link:hover {
  color: rgb(255, 145, 0);
  background-color: black;
  border: 15px solid black;
}
.info {
  display: flex;
  align-items: center;
  margin-right: 10%;
  position: relative;
}
.titleContainer {
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title1 {
  background-color: rgba(0, 0, 0, 0.856);
  padding: 0.5rem;
  border-radius: 1rem;
  color: rgb(255, 145, 0);
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 2px;
  display: block;
  height: auto;
}
.title2 {
  background-color: rgba(0, 0, 0, 0.856);
  padding: 0.5rem;
  border-radius: 1rem;
  color: rgb(255, 145, 0);
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1px;
  height: auto;
}
.subTitle {
  background-color: rgba(0, 0, 0, 0.671);
  padding: 0.5rem;
  border-radius: 1rem;
  color: white;
  font-size: 25px;
  display: block;
  margin-top: 15px;
}

.redesMobile {
  width: 100%;
  justify-content: center;
  display: none;
}
.linkM {
  text-decoration: none;
  color: white;
  transition: 200ms;
  margin-top: 1rem;
  width: 30px;
  height: 30px;
}
.linkM:hover {
  color: rgb(255, 145, 0);
}
.pContainer {
  border: 1px solid white;
  box-shadow: 8px 8px 8px rgba(255, 255, 255, 0.205);
  background-color: rgba(0, 0, 0, 0.671);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.resume {
  font-size: 20px;
  color: white;
}
.mainButton {
  border: none;
  background-color: white;
  width: 160px;
  height: 60px;
  border-radius: 5px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: black;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  transition: 250ms;
}
.mainButton:hover {
  color: black;
  background-color: rgb(255, 145, 0);
}
.buttonIcon {
  margin: 0px 0px 0px 5px;
}

@media only screen and (max-width: 845px) {
  .main {
    width: 100%;
    min-height: 150vh;
    overflow: hidden;
  }
  .info {
    display: flex;
    flex-direction: column;
  }
  /* .title {
    font-size: 60px;
    width: 100%;
    text-align: center;
  } */
  .title2 {
    font-size: 30px;
  }
  .subTitle {
    margin-bottom: 1rem;
  }
  .titleContainer {
    width: 300px;
  }
  .pContainer {
    width: 60%;
  }
  .redes {
    display: none;
  }
  .info {
    margin: 0;
  }
  .redesMobile {
    display: flex;
  }
}

@media only screen and (max-width: 450px) {
  .main {
    width: 100%;
    min-height: 1000px;
    overflow: hidden;
  }
  .info {
    display: flex;
    flex-direction: column;
    width: auto;
  }
  .title1 {
    font-size: 40px;
    width: 90%;
    text-align: center;
  }
  .title2 {
    font-size: 30px;
  }
  .subTitle {
    margin-bottom: 1rem;
  }
  .pContainer {
    width: 70%;
    background-color: rgba(0, 0, 0, 0.822);
  }
  .resume {
    width: 60%;
  }
  .titleContainer {
    width: 300px;
  }
  .scrollContainer {
    bottom: -150px;
  }
  .redes {
    display: none;
  }
  .info {
    margin: 0;
  }
  .redesMobile {
    display: flex;
  }
}
