.contenedor {
  width: 100%;
  height: auto;
  min-height: 60vh;
  background-color: rgb(0, 0, 56);
  color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}
.subTitle {
  font-size: 40px;
  font-weight: 700;
  margin-top: 5rem;
  margin-bottom: 2rem;
  text-align: center;
}
.form {
  width: 100%;
  height: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 2rem;
}
.box {
  display: flex;
  justify-content: center;
  height: 5rem;
}
.inputSpan {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
.input {
  width: auto;
  min-width: 23rem;
  height: 2.5rem;
  background-color: rgba(138, 138, 138, 0.685);
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  transition: 100ms;
  margin-bottom: 1rem;
}

.input:focus {
  border: 3px solid #ff9100;
  outline-offset: 3px;
}

.input::placeholder {
  color: white;
  font-size: 1rem;
  font-weight: 600;
}

.inputError {
  width: auto;
  min-width: 17rem;
  height: 2.5rem;
  background-color: rgba(68, 68, 68, 0.685);
  border: 3px solid transparent;
  padding-left: 20px;
  border-radius: 5px;
  color: #ff0000;
  font-weight: 600;
  transition: 100ms;
}

.inputError:focus {
  outline: 2px solid #ff0000;
  border: 3px solid #ff0000;
  outline-offset: 3px;
}

.inputError::placeholder {
  color: rgb(184, 184, 184);
  font-size: 1rem;
  font-weight: 600;
}

.error {
  color: #ff0000;
  margin-top: 0.5rem;
}

.textBox {
  width: 100%;
  height: 215px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textError {
  width: 70%;
  height: 10rem;
  padding: 10px;
  border: 3px solid red;
  resize: none;
  background-color: rgba(68, 68, 68, 0.685);
  padding-left: 20px;
  border-radius: 5px;
  transition: 100ms;
  color: #ff0000;
  font-weight: 600;
  font-family: inherit;
  font-size: inherit;
}
.text {
  margin-left: 2rem;
  width: 100%;
  height: 10rem;
  padding: 10px;
  border: 2px solid black;
  resize: none;
  background-color: rgba(138, 138, 138, 0.685);

  border-radius: 5px;
  transition: 100ms;
  color: white;
  font-weight: 600;
  font-family: inherit;
  font-size: inherit;
}
.text::placeholder {
  color: white;
}
.buttonContainer {
  display: flex;
  flex-direction: column;
  height: 116px;
  align-items: center;
}
.sendOk {
  width: 9rem;
  height: 2.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 2rem;
  background-color: #00b150;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: 300ms;
}
.sendError {
  width: 9rem;
  height: 2.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 2rem;
  background-color: #ff0000;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: 300ms;
}
.sendButton {
  width: 9rem;
  height: 2.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 2rem;
  background-color: black;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: 300ms;
}
.sendButton:hover {
  color: black;
  background-color: #ff9100;
}

.loading {
  animation: App-logo-spin infinite 2s linear;
}
.enviar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonIcon {
  margin-left: 0.5rem;
  margin-bottom: 0.3rem;
}
.msg {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 1rem;
}

@media only screen and (max-width: 845px) {
  .box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  .text {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .inputContainer {
    width: 90%;
    margin-left: 0%;
  }
  .inputSpan {
    margin-left: 0%;
    min-width: 70%;
  }
  .input {
    min-width: 12rem;
  }
  .error {
    margin-bottom: 0.5rem;
    min-width: 11rem;
  }
  .inputError {
    min-width: 11rem;
  }
  .text {
    width: 60%;
    min-width: 15rem;
    margin-left: 0%;
  }
}
